/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/coverage
/files
.php_cs.cache
phpunit.xml
docker-compose.yml
.git/hooks/pre-commit
/nbproject/**
/public/coverage
/volumes/*
